- name: Create local bin dir
  ansible.builtin.file:
    path: "{{lookup('env', 'HOME')}}/.local/bin"
    state: directory

- name: Install prerequisites for PPA
  become: true
  ansible.builtin.apt:
    name: gpg
    state: present

- name: Add Git PPA GPG key
  become: true
  ansible.builtin.shell:
    cmd: >
      gpg --keyserver keyserver.ubuntu.com --recv-keys F3F8AB237856BF9D &&
      gpg --export F3F8AB237856BF9D | gpg --dearmor -o /usr/share/keyrings/git-core-ppa.gpg
    creates: /usr/share/keyrings/git-core-ppa.gpg

- name: Add Git PPA repository (new style)
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/git-core-ppa.gpg] https://ppa.launchpadcontent.net/git-core/ppa/ubuntu {{ ansible_lsb.codename }} main"
    state: present
    filename: git-core-ppa
    update_cache: false

- name: Install latest git
  become: true
  ansible.builtin.apt:
    update_cache: true
    name: git
    state: latest

- name: Install some base packages
  become: true
  ansible.builtin.apt:
    name:
      - ninja-build
      - cmake
      - unzip
      - curl
      - python3-venv
    state: present

