- name: Install prerequisites for Docker repository
  become: true
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg2
    state: present
    update_cache: true

- name: Create directory for Docker GPG key
  become: true
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Add Docker's official GPG key
  become: true
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
    force: true

- name: Add Docker repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ ansible_architecture }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable"
    state: present
    filename: docker
    update_cache: false

- name: Update apt and install Docker packages
  become: true
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
    update_cache: true

- name: Add user to docker group
  become: true
  ansible.builtin.user:
    name: "{{lookup('env', 'USER')}}"
    groups:
      - docker
    append: yes

- name: Check for nvidia
  ansible.builtin.shell: command -v nvidia-smi
  register: cuda_exists
  ignore_errors: yes

- name: Check for nvidia-container-toolkit
  ansible.builtin.shell: command -v nvidia-ctk
  register: ctk_exists
  ignore_errors: yes

- name: Add NVIDIA Container Toolkit GPG key
  become: true
  when: cuda_exists is not failed and ctk_exists is failed
  ansible.builtin.shell:
    # This command is idempotent thanks to the 'creates' argument
    cmd: curl -fsSL https://nvidia.github.io/libnvidia-container/gpgkey | gpg --dearmor -o /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg
    creates: /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg

- name: Add NVIDIA Container Toolkit repository
  become: true
  when: cuda_exists is not failed and ctk_exists is failed
  ansible.builtin.shell:
    # This command is idempotent thanks to the 'creates' argument
    cmd: >
      curl -s -L https://nvidia.github.io/libnvidia-container/stable/deb/nvidia-container-toolkit.list |
      sed 's#deb https://#deb [signed-by=/usr/share/keyrings/nvidia-container-toolkit-keyring.gpg] https://#g' |
      tee /etc/apt/sources.list.d/nvidia-container-toolkit.list
    creates: /etc/apt/sources.list.d/nvidia-container-toolkit.list

- name: Update apt cache after adding new repository
  become: true
  when: cuda_exists is not failed and ctk_exists is failed
  ansible.builtin.apt:
    update_cache: true

- name: Install NVIDIA Container Toolkit packages
  become: true
  when: cuda_exists is not failed and ctk_exists is failed
  register: nvidia_docker_installed
  ansible.builtin.apt:
    name:
      - "nvidia-container-toolkit={{ nvidia_container_toolkit_version }}"
      - "nvidia-container-toolkit-base={{ nvidia_container_toolkit_version }}"
      - "libnvidia-container-tools={{ nvidia_container_toolkit_version }}"
      - "libnvidia-container1={{ nvidia_container_toolkit_version }}"
    state: present

- name: Setup nvidia-container-toolkit runtime
  become: true
  when: cuda_exists is not failed and ctk_exists is failed
  ansible.builtin.shell: nvidia-ctk runtime configure --runtime=docker

- name: Restart docker
  become: true
  when: cuda_exists is not failed and ctk_exists is failed
  ansible.builtin.service:
    name: docker
    state: restarted

